<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :"First name"  %>
      <%= f.text_field :firstName %>

      <%= f.label :"Last name" %>
      <%= f.text_field :lastName %>

      <%= f.label :Email %>
      <%= f.email_field :email %>

      <%= f.label :Phone %>
      <%= f.text_field :phone %>

      <%= f.label :Password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>