<% provide(:title, [@user.firstName, @user.lastName].join(' ') ) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.profilepic.present? %>
      		<%= image_tag(@user.profilepic.url,  size: "350x350") %>
      	<% else %>
			<%= image_tag("default-avatar.png", size: "350x350")  %>
		<% end %>
		<br><br>
        <%= [@user.firstName, @user.lastName].join(' ') %>
      </h1>
    </section>
  </aside>
   <div class="col-md-8">
    <% if @user == current_user %>
		<% provide(:button_text, 'Update Profile') %>
      
      	<%= form_for(@user) do |f| %>
      		<%= render 'shared/error_messages', object: @user %>

      		<%= f.label :"Current Position"  %>
      		<%= f.text_field :curwork, class: 'form-control' %>

      		<%= f.label :"Working Experience" %>
      		<%= f.text_area :prevwork, :cols => "10", :rows => '7', class: 'form-control'%>

     		<%= f.label :Education %>
      		<%= f.text_area :education, :cols => "10", :rows => '3', class: 'form-control'%>

      		<%= f.label :Skills %>
      		<%= f.text_area :skills, :cols => "10", :rows => '6', class: 'form-control'%>

      		<%= f.label :"Profile picture" %>
          	<%= f.file_field :profilepic,
                            accept: 'image/jpeg,image/gif,image/png', 
                            class: "form-control"  %>  

      		<%= f.submit yield(:button_text), class: "btn btn" %>

		<% end %>
	<% else %>
    	 <p> <b>Current Position:</b> <%=@user.curwork%><br>
    	 	<b>Working Experience: </b> <%= @user.prevwork %><br>
    	 	<b>Education: </b><%= @user.education %><br>
    	 	<b>Skills: </b><%= @user.skills %>
      	</p>
	<% end %>
  </div>

</div>