<% provide(:title, [@user.firstName, @user.lastName].join(' ') ) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= [@user.firstName, @user.lastName].join(' ') %>
      </h1>
    </section>
  </aside>
   <div class="col-md-8">
    <% if @user == current_user %>
		<% provide(:button_text, 'Update Profile') %>
      
      <%= form_for(@user) do |f| %>
      	<%= render 'shared/error_messages', object: @user %>

      	<%= f.label :"Current Position"  %>
      	<%= f.text_field :curwork, class: 'form-control' %>

      <%= f.label :"Working Experience" %>
      <%= f.text_area :prevwork, :cols => "10", :rows => '7', class: 'form-control'%>

      <%= f.label :Education %>
      <%= f.text_area :education, :cols => "10", :rows => '3', class: 'form-control'%>

      <%= f.label :Skills %>
      <%= f.text_area :skills, :cols => "10", :rows => '6', class: 'form-control'%>


      <%= f.submit yield(:button_text), class: "btn btn" %>
	<% end %>
	<% end %>
  </div>

</div>