<% provide(:title, [@user.firstName, @user.lastName].join(' ') ) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.profilepic.present? %>
      		<%= image_tag(@user.profilepic.url,  size: "330x330") %>
      	<% else %>
			<%= image_tag("default-avatar.png", size: "330x330")  %>
		<% end %>
      </h1>
    </section>
    <br><br>
    <% if @user == current_user %>
    	<%= link_to "Check your posts", user_posts_path(current_user), class: "btn btn-lg btn-default" %>
    <% end %>
    <% if logged_in? && @user.friends_with?(current_user) %>
    	<%= link_to "Posts", user_posts_path(@user), class: "btn btn-lg btn-default" %>
       <br><br>
      <% @conversation = current_user.conversation_partisipating(@user)%>
      <%= link_to "Send message", conversation_path(@conversation), class: "btn btn-lg btn-default" %>
      <br><br>
    <% end %>

    <% if logged_in? && !@user.friends_with?(current_user) && @user != current_user && !current_user.pending_from?(@user) && !current_user.pending_to?(@user) %>
      <%= link_to "Add Friend", request_path(@user), method: :get, class: "btn btn-lg btn-default" %>
    <% elsif logged_in? && @user.friends_with?(current_user) %>
      <%= link_to "Remove Friend", delete_path(@user), method: :delete, class: "btn btn-lg btn-default" %>
    <% elsif logged_in? && current_user.pending_to?(@user) %>
      <%= link_to "Remove Friend", delete_sent_path(@user), method: :delete, class: "btn btn-lg btn-default" %>
    <% elsif logged_in? && current_user.pending_from?(@user) %>
      <%= link_to "Accept", accept_path(@user), method: :get, class: "btn btn-lg btn-default" %>
      <%= link_to "Decline", decline_path(@user), method: :delete, class: "btn btn-lg btn-default"%>
    <% end %>
    <div class="export_single">
    <% if current_user.admin? %>
        <%=link_to "Export to XML", export_single_path(@user), method: :get%>
    <% end %>
    </div>

  </aside>
   <div class="col-md-8">
   	<font size= "6"><b><%= [@user.firstName, @user.lastName].join(' ') %></b></font>
    <% if @user == current_user %>
		<% provide(:button_text, 'Update Profile') %>
      
      	<%= form_for(@user) do |f| %>
      		<%= render 'shared/error_messages', object: @user %>

      		<br>
      		<%= f.label :"Change your profile picture:" %>
          	<%= f.file_field :profilepic,
                            accept: 'image/jpeg,image/gif,image/png', 
                            class: "form-control"  %>  
            <br>
      		<%= f.label :"Edit your current position:"  %>
      		<%= f.text_field :curwork, class: 'form-control' %>

            <%= f.label :curwork_ispublic, class: "checkbox inline" do %>
        		<%= f.check_box :curwork_ispublic %>
        		<span>Make this section public: </span>
      		<% end %>

      		<br>
      		<%= f.label :"Edit your working experience:" %>
      		<%= f.text_area :prevwork, :cols => "10", :rows => '7', class: 'form-control'%>

      		<%= f.label :prevwork_ispublic, class: "checkbox inline" do %>
        		<%= f.check_box :prevwork_ispublic %>
        		<span>Make this section public: </span>
      		<% end %>

      		<br>
     		<%= f.label :"Edit your education:" %>
      		<%= f.text_area :education, :cols => "10", :rows => '3', class: 'form-control'%>

      		<%= f.label :education_ispublic, class: "checkbox inline" do %>
        		<%= f.check_box :education_ispublic %>
        		<span>Make this section public: </span>
      		<% end %>

      		<br>
          <%= f.label :"Choose your skills:"%>
          <br><br>
          <% for tskill in Tskill.all %>
              <div class= "checkbox inline">
              <%= check_box_tag "user[tskill_ids][]", tskill.id, @user.tskills.include?(tskill) %>
              <span><%= tskill.name %></span>
            </div>
          <% end %>

          <%= f.label :skills_ispublic, class: "checkbox inline" do  %>
            <br>
            <%= f.check_box :skills_ispublic %>
            <span>Make this section public: </span>
          <% end %>
          <br>

      		<%= f.submit yield(:button_text), class: "btn btn" %>

		<% end %>
	<% else %>
    <% display_flag = false %>
    <% if logged_in? && @user.friends_with?(current_user) %>
        <% display_flag = true %>
    <% end %> 

		<% if @user.curwork_ispublic ||  display_flag %>
    	  <font size= "5"><b><br><%=@user.curwork%></b></font>
  		<% end %>
    		<br><br>
    	 	<% if @user.prevwork_ispublic || display_flag %>
    	 		<font color= "#666666"><b><i>Working Experience </b></i></font><br><%= simple_format(@user.prevwork) %><br><br>
    	 	<% end %>
    	 	<% if @user.education_ispublic || display_flag %>
    	 		<font color= "#666666"><b><i>Education </b></i></font><br><%= simple_format(@user.education) %><br><br>
    	 	<% end %>
    	 	<% if @user.skills_ispublic  || display_flag %>
    	 		<font color= "#666666"><b><i>Skills </b></i></font><br>
          <% for tskill in @user.tskills || display_flag  %>
              <span class="boxed"><%= tskill.name %></span>
          <%end %>
    	 	<% end %>
      
	<% end %>
  </div>

</div>