<% provide(:title, [@user.firstName, @user.lastName].join(' ') ) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.profilepic.present? %>
      		<%= image_tag(@user.profilepic.url,  size: "330x330") %>
      	<% else %>
			<%= image_tag("default-avatar.png", size: "330x330")  %>
		<% end %>
      </h1>
    </section>
    <br><br>
    <% if @user == current_user %>
    	<%= link_to "Check your posts", user_posts_path(current_user), class: "btn btn-lg btn-default" %>
    <% else %>

    	<%= link_to "Posts", user_posts_path(@user), class: "btn btn-lg btn-default" %>
    <% end %>
  </aside>
   <div class="col-md-8">
   	<font size= "6"><b><%= [@user.firstName, @user.lastName].join(' ') %></b></font>
    <% if @user == current_user %>
		<% provide(:button_text, 'Update Profile') %>
      
      	<%= form_for(@user) do |f| %>
      		<%= render 'shared/error_messages', object: @user %>

      		<br>
      		<%= f.label :"Change your profile picture:" %>
          	<%= f.file_field :profilepic,
                            accept: 'image/jpeg,image/gif,image/png', 
                            class: "form-control"  %>  
            <br>
      		<%= f.label :"Edit your current position:"  %>
      		<%= f.text_field :curwork, class: 'form-control' %>

            <%= f.label :curwork_ispublic, class: "checkbox inline" do %>
        		<%= f.check_box :curwork_ispublic %>
        		<span>Make this section public: </span>
      		<% end %>

      		<br>
      		<%= f.label :"Edit your working experience:" %>
      		<%= f.text_area :prevwork, :cols => "10", :rows => '7', class: 'form-control'%>

      		<%= f.label :prevwork_ispublic, class: "checkbox inline" do %>
        		<%= f.check_box :prevwork_ispublic %>
        		<span>Make this section public: </span>
      		<% end %>

      		<br>
     		<%= f.label :"Edit your education:" %>
      		<%= f.text_area :education, :cols => "10", :rows => '3', class: 'form-control'%>

      		<%= f.label :education_ispublic, class: "checkbox inline" do %>
        		<%= f.check_box :education_ispublic %>
        		<span>Make this section public: </span>
      		<% end %>

      		<br>
      		<%= f.label :"Edit your skills:" %>
      		<%= f.text_area :skills, :cols => "10", :rows => '6', class: 'form-control'%>

      		<%= f.label :skills_ispublic, class: "checkbox inline" do %>
        		<%= f.check_box :skills_ispublic %>
        		<span>Make this section public: </span>
      		<% end %>
      		<br>

      		<%= f.submit yield(:button_text), class: "btn btn" %>

		<% end %>
	<% else %>
		<% if @user.curwork_ispublic %>
    	  <font size= "5"><b><br><%=@user.curwork%></b></font>
  		<% end %>
    		<br><br>
    	 	<% if @user.prevwork_ispublic %>
    	 		<font color= "#666666"><b><i>Previous Working Experience </b></i></font><br><%= simple_format(@user.prevwork) %><br><br>
    	 	<% end %>
    	 	<% if @user.education_ispublic %>
    	 		<font color= "#666666"><b><i>Education </b></i></font><br><%= simple_format(@user.education) %><br><br>
    	 	<% end %>
    	 	<% if @user.skills_ispublic %>
    	 		<font color= "#666666"><b><i>Skills </b></i></font><br><%= simple_format(@user.skills) %>
    	 	<% end %>
      
	<% end %>
  </div>

</div>