<%= form_for(@joboffer) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Job offer's title..." %>
  <div class="field">
    <%= f.text_area :description,class: 'form-control', placeholder: "Give a description..." %>
  </div>
  <br>
    <%= f.label :"Choose the skills required for this job:"%>
    <br><br>
    <% for tskill in Tskill.all %>
      <div class= "checkbox inline">
        <%= check_box_tag "joboffer[tskill_ids][]", tskill.id, @joboffer.tskills.include?(tskill) %>
           <span><%= tskill.name %></span>
        </div>
      <% end %>
  <%= f.submit "Submit", class: "btn btn" %>
<% end %>