<%= form_for(@joboffer) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Job offer's title..." %>
  <div class="field">
    <%= f.text_area :description,class: 'form-control', placeholder: "Give a description..." %>
  </div>
  <%= f.submit "Submit", class: "btn btn" %>
<% end %>