<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Make a new post..." %>
  </div>
  	<%= image_tag("image-thumb.png", size: 30)%> Add a picture:
     <span class="picture">
    <%= f.file_field :attachment, multiple: true , accept: 'image/jpeg,image/gif,image/png'%>
  </span>
  <%= image_tag("video-thumb.png", size: 36)%> Add a video:
  <span class="picture">
  <%=f.file_field :video_attachment%>
</span>
<%= image_tag("music-thumb.png", size: 30)%> Add an audio file:
  <span class="picture">
  <%=f.file_field :audio_attachment%>
</span>
  <%= f.submit "Post", class: "btn btn" %>
<% end %>