<h1>
<% if current_user.profilepic.present? %>
	<%= image_tag(current_user.profilepic.url,  size: "140x140") %>
<% else %>
	<%= image_tag("default-avatar.png", size: "140x140")  %>
<% end %>
<br><br>
<%= [current_user.firstName, current_user.lastName].join(' ') %></h1>
<span><%= link_to "View my profile", current_user %></span>
<div class="stats">
<a href="<%= user_posts_path(current_user) %>"><%= pluralize(current_user.posts.count, "post") %></a>
<a><%= pluralize(current_user.friends.count, "friend")%></a>
</div>