<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "net-work", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%=form_tag(users_path, :method => "get", class: 'input-group') do %>
          <%= text_field_tag :search, params[:search], class: 'form-control',  placeholder: "Search Users" %>
          <% end %>
        </li>
        <li class="<%= 'active' if current_page?(root_path) %>"><%=link_to "Home", root_path %></li>
        <% if logged_in? %>
          <% if current_user.admin? %> 
                    <li class="<%= 'active' if current_page?(users_path) %>"><%= link_to "Users", users_path %></li>
          <% end %>
          <li class="<%= 'active' if current_page?(user_friendships_path(@current_user)) %>"><%= link_to "My Net-work", user_friendships_path(@current_user) %></li>
          <li class="<%= 'active' if current_page?(joboffers_path) %>"><%=link_to "Job Offers", joboffers_path%></li>
          <li><%= link_to "Messages", '#' %></li>
          <% if current_user.pending_requests.any? %>
            <li class="<%= 'active' if current_page?(user_friend_requests_path(@current_user)) %>" id="notifications">
              <%= link_to "Notifications (#{@current_user.pending_requests.count})" , user_friend_requests_path(@current_user)%>
            </li>
          <% else %>
            <li class="<%= 'active' if current_page?(user_friend_requests_path(@current_user)) %>">
              <%= link_to 'Notifications', user_friend_requests_path(@current_user) %>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              My Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>

        <% else %>
          <li class="<%= 'active' if current_page?(help_path) %>"><%=link_to"Help", help_path %></li>
          <li class="<%= 'active' if current_page?(login_path) %>"><%=link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>